@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-500.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-300.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSansCyrl-700.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'MuseoSans', Arial, sans-serif;
    font-size: 19px;
    line-height: 29px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

body, main, section, footer, p, h1, h2, h3, ul, div {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    position: absolute;
    width: 100%;
    top: 35px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    padding: 0;
}

.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    line-height: 18px;
    color: #000;
}

.navbar-default .navbar-nav>li>a.selected {
    color: #727272;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.headline {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../img/headline.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.headline-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 210px 0 190px 0;
}

.headline-text p {
    width: 740px;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.headline-buttons {
    margin-top: 45px;
    width: 550px;
    display: flex;
    justify-content: flex-start;
}

.headline-buttons a {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 25px;
}

.headline-buttons a.cost {
    background-color: #3075f3;
}

.headline-buttons a.cost:hover {
    background-color: #2252AA;
}


.headline-buttons a.request {
    background-color: #22b731;
    margin-left: 30px;
}

.headline-buttons a.request:hover {
    background-color: #188423;
}

.features {
    padding: 75px 0 45px 0;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-item p {
    margin: 30px 0;
    text-align: center;
}

.security {
    padding: 70px 0 40px 0;
    background-image: url(../img/security.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.security-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.security-wrap span {
    display: block;
    padding: 0 75px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.security-wrap span.notif {
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: lighter;
}

.security-wrap a.check {
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 25px;
    background-color: #3075f3;
    margin: 50px 0;
}

.security-wrap a.check:hover {
    background-color: #2252AA;
}

.security-wrap p {
    text-align: center;
    padding: 25px 105px;
    border: 1px solid #000;
    border-radius: 8px;
}

.security-wrap h3 {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    margin: 50px 0;
}

.security-alerts {
    width: 100%;
}

.security-alerts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.security-alerts-item svg {
    width: 130px;
    height: 130px;
}

.security-alerts-item p {
    margin: 30px 0;
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    border: 0;
    padding: 0;
}

.creation {
    padding: 70px 0;
}

.creation-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creation-wrap h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.creation-wrap span {
    text-align: center;
}

.creation-acc {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.creation-acc-site, .creation-acc-nosite {
    width: 550px;
    border-radius: 4px;
    color: #fff;
}

.creation-acc-nosite {
    height: 355px;
}

.creation-acc-site h4, .creation-acc-nosite h4 {
    font-size: 22px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 0;
}

.creation-acc-site {
    background-color: #3075f3;
}

.creation-acc-site ul li {
    text-align: center;
    background-color: #73a5ff;
    border-bottom: 1px solid #abc9ff;
    padding: 15px 40px;
}

.creation-acc-site ul li:last-child {
    border: none;
    border-radius: 0 0 3px 3px;
}

.creation-acc-nosite {
    background-color: #22b731;
}

.creation-acc-nosite ul li {
    text-align: center;
    background-color: #58c764;
    border-bottom: 1px solid #9bdda2;
    padding: 15px 40px;
}

.creation-acc-nosite ul li:last-child {
    border: none;
    border-radius: 0 0 3px 3px;
}

.reasons {
    position: relative;
}

.reasons h2 {
    position: absolute;
    width: 100%;
    top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #22b731;
    padding: 15px 0;
    z-index: 5;
}

.slider {
    height: 600px;
    padding: 150px 0 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-container {
    position: relative;
}  

.swiper-pagination {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    z-index: 100;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    left: 95%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 15px;
}

.swiper-pagination-bullet-active {
    background: #22b731;
}

.slider-01 {
    background-image: url(../img/slide-01.jpg);
}

.slider-02 {
    background-image: url(../img/slide-02.jpg);
}

.slider-03 {
    background-image: url(../img/slide-03.jpg);
}

.slider-04 {
    background-image: url(../img/slide-04.jpg);
}

.slider-05 {
    background-image: url(../img/slide-05.jpg);
}

.slider-06 {
    background-image: url(../img/slide-06.jpg);
}

.slider-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider-item-text {
    margin-left: 100px;
}

.slider-item-text h3 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
}

.slider-item-text p {
    width: 650px;
    font-size: 23px;
    line-height: 33px;
    color: #fff;
}

.clients {
    padding: 80px 0 50px 0;
}

.clients-wrap h3 {
    text-align: center;
    margin-bottom: 75px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

.clients-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

.clients-logos-item {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.technologies {
    padding: 80px 0;
}

.technologies-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.technologies-logos-item {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologies-wrap h3 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
}

.technologies-wrap p {
    text-align: center;
    margin-bottom: 65px;
}

.about {
    padding: 80px 0;
    background-color: #3075f3;
    background-image: url(../img/about-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-wrap h3 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

.about-wrap>p {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.about-wrap span {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    font-weight: bold;
}

.about-text {
    margin: 25px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 4px;
    width: 100%;
}

.about-text h4 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    padding: 40px 225px;
}

.about-text-blocks {
    display: flex;
    padding: 0 70px 0 70px;
}
.about-text-blocks-item p {
    text-align: left;
    padding-left: 65px;
    background-image: url(../img/check.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.about-text span {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 45px;
}

.form {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.form input {
    border-radius: 23px;
    border: none;
    outline: none;
}

.form input[type="text"] {
    padding: 10px 25px;
}

.form input[type="submit"] {
    padding: 10px 70px;
    background-color: #000;
    color: #fff;
}

.form input[type="submit"]:hover {
    background-color: #2252AA;
}

.testimonials {
    padding: 70px 0 130px 0;
    background-color: #e2e8f3;
}

.testimonials-wrap {
    display: flex;
    flex-direction: column;
}

.testimonials-headline {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.testimonials-slider-item {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-slider-item-text {
    text-align: center;
    font-weight: lighter;
    padding: 0 190px;
    margin-top: 25px;
}

.testimonials-slider-item-name {
    display: block;
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
}

.testimonials-slider-item-company {
    display: block;
    margin-top: 2px;
    font-size: 16px;
}

footer {
    background-color: #232323;
}

.footer-top {
    padding: 75px 0;
    border-bottom: 1px solid #464646;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.footer-top .container::before, 
.footer-top .container::after {
    display: none;
}

.footer-top-left img {
    margin-bottom: 45px;
}

.footer-top-left p {
    color: #fff;
}

.footer-top-right {
    border: 1px solid #22b731;
    border-radius: 4px;
    padding: 25px 50px 15px 50px;
}

.footer-top-right h2 {
    font-size: 27px;
    color: #22b731;
    text-align: left;
    margin-bottom: 15px;
}

.contact-line {
    padding-left: 30px;
    color: #fff;
    line-height: 37px;
    background-position: left center;
    background-repeat: no-repeat;
}

.contact-line-address {
    background-image: url(../img/icon-address.png);
}

.contact-line-phone {
    background-image: url(../img/icon-phone.png);
}

.contact-line-mail {
    background-image: url(../img/icon-mail.png);
}

.footer-bottom {
    padding: 25px 0;
    font-size: 17px;
    color: #464646;
    display: flex;
    justify-content: space-between;
}

.footer-bottom.container::before,
.footer-bottom.container::after {
    display: none;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
}

.footer-links li {
    position: relative;
}

.footer-links li a {
    text-decoration: underline;
    color: #464646;
}

.footer-links li a:hover {
    text-decoration: none;
    color: #fff;
}

.footer-links li:first-child {
    margin-right: 40px;
}

.footer-links li:first-child::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    right: -20px;
    top: 5px;
    background-color: #464646;
}

#modal {
	width: 750px; 
	height: auto;
	background: transparent;
	position: fixed;
	display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	opacity: 0;
	z-index: 5;
    background-color: #fff;
    padding: 40px 65px;
    border-radius: 4px;
}

#overlay {
	z-index: 3;
	position: fixed;
	background-color: #000;
	opacity: 0.7;
	-moz-opacity:0.7;
	filter: alpha(opacity=70);
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

.modal-close {
    position: absolute;
    font-family: 'Nunito', Arial, 'sans-serif';
    font-size: 12px;
    line-height: 12px;
    color: #9f9f9f;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
}

.modal-wrap {
    display: flex;
    flex-direction: column;
}

.modal-form {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-input-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-title {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 45px;
    text-align: center;
}

.modal-form input[type="text"] {
    width: 247px;
    border: 1px solid #bababa;
    border-radius: 25px;
    outline: none;
    padding: 8px 18px;
    margin-bottom: 30px;
}

.modal-form input[type="text"]::-webkit-input-placeholder {color:#bababa; font-size: 18px;}
.modal-form input[type="text"]::-moz-placeholder          {color:#bababa; font-size: 18px; line-height: 28px;}
.modal-form input[type="text"]:-moz-placeholder           {color:#bababa; font-size: 18px; line-height: 28px;}
.modal-form input[type="text"]:-ms-input-placeholder      {color:#bababa; font-size: 18px;}

.modal-file-container {
    display: block;
    overflow: hidden;
    position: relative;
    background-color: #3075f3;
    text-align: left;
    width: 247px;
    height: 47px;
    border-radius: 25px;
    padding: 8px 18px;
    color: #fff;
    font-weight: lighter;
}

.modal-file-container:hover {
    background-color: #2252aa;
}

.modal-file-container::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 18px;
    width: 21px;
    height: 19px;
    background-image: url(../img/attach.png);
    cursor: pointer;
}

.modal-file-container [type="file"] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.modal-agreement-text{
    margin-left: 40px;
    font-size: 16px;
    line-height: 26px;
}

.modal-checkbox-indicator {
    position: relative;
}

.modal-checkbox-indicator::before {
    content: '';
    position: absolute;
    top: 3px;
    right: -22px;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-form input[type="checkbox"]:checked + .modal-checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 23px;
    height: 21px;
    background: url(../img/agree.png);
}

.modal-form input[type="submit"] {
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    padding: 10px 130px;
    background-color: #22b731;
    border: none;
    border-radius: 25px;
}

.modal-form input[type="submit"]:hover {
    background-color: #188423;
}

@media only screen and (max-width: 767px) {
    
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    
    .navbar-default .navbar-collapse {
        background-color: #3075F3;
        margin-top: 16px;
    }
    
    .container>.navbar-collapse {
        margin: 0;
    }
    
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    
    .navbar-brand>img {
        margin-left: 30px;
    }
    
    .navbar-toggle .icon-bar {
        width: 35px;
        height: 3px;
    }
    
    .navbar-toggle {
        padding: 6px 10px;
    }
    
    .nav>li {
        border-bottom: 1px solid #fff;
    }
    
    .navbar-nav {
        margin: 0;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        text-align: center;
        line-height: 36px;
    }
    
    .headline-text p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 28px;
        line-height: 36px;
    }
    
    .headline-buttons {
        width: 60%;
        margin: 40px auto 0 auto;
        flex-direction: column;
    }
    
    .headline-buttons a {
        text-align: center;
        font-size: 16px;
    }
    
    .headline-buttons a.request {
        background-color: #22b731;
        margin-top: 30px;
        margin-left: 0;
    }
    
    .features-item p {
        width: 50%;
    }
    
    .security-wrap p {
        padding: 25px
    }
    
    .security-wrap span {
        padding: 0 10px;
        font-size: 28px;
        line-height: 36px;
    }
    
    .security-wrap a.check {
        text-align: center;
        padding: 10px 20px;
    }
    
    .creation-wrap h3 {
        font-size: 28px;
    }
    
    .creation-acc {
        flex-direction: column;
        align-items: center;
    }
    
    .clients-logos, 
    .technologies-logos {
        flex-direction: column;
    }
    
    .clients-logos img, 
    .technologies-logos img {
        margin-bottom: 30px;
    }
    
    .creation-acc-site, .creation-acc-nosite {
        width: 100%;
        height: auto;
    }
    
    .slider {
        height: auto;
    }
    
    .slider-item {
        flex-direction: column;
        align-items: center;
    }
    
    .slider-item-text {
        margin: 0;
    }
    
    .slider-item-text p, .slider-item-text h3 {
        width: 80%;
    }
    
    .slider-item-text h3 {
        margin: 40px auto 0 auto;
        font-size: 23px;
        line-height: 32px;
    }
    
    .slider-item-text p {
        margin: 40px auto;
        font-size: 19px;
        line-height: 29px;
    }

    .reasons h2 {
        font-size: 20px;
    }
    
    .clients-wrap h3 {
        font-size: 28px;
        line-height: 36px;
    }
    
    .about-wrap h3 {
        font-size: 28px;
        line-height: 36px;
    }
    
    .about-wrap>p {
        width: 80%;
    }
    
    .about-text h4 {
        padding: 40px 20px;
    }
    
    .about-text-blocks {
        flex-direction: column;
    }
    
    .about-text span {
        padding: 0 15px;
    }
    
    .about-wrap span {
        padding: 0 15px;
    }
    
    .form {
        flex-direction: column;
    }
    
    .form input {
        width: 80%;
        margin: 0 auto 40px auto;
    }
    
    .testimonials-headline {
        font-size: 28px;
        line-height: 36px;
    }
    
    .testimonials-slider-item {
        margin-top: 40px;
    }
    
    .testimonials-slider-item-text {
        padding: 0px 25px;
    }
    
    .technologies-wrap h3 {
        font-size: 28px;
        line-height: 36px;
        width: 90%;
        margin: 0 auto 35px auto;
    }
    
    .footer-top .container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-top-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-top-left p {
        padding: 15px;
    }
    
    .footer-top-right {
        margin: 0 15px;
    }
    
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
    
    #modal {
        width: 90%;
    }
    
    .modal-title {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 24px;
    }
    
    .modal-form input[type="text"] {
        margin-bottom: 5px;
    }
    
    .modal-form input[type="submit"] {
        margin-top: 15px;
        padding: 10px 100px;
    }
    
    .modal-agreement-text {
        font-size: 10px;
        line-height: 14px;
        font-weight: lighter;
    }
}
